.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.footer-row {
  flex: 1;
  min-width: 200px; /* Adjust based on your preference */
  margin: 10px;
  text-align: left;
}

.footer-row h3 {
  color: #f8f8f8;
  margin-bottom: 10px;
}

.footer-row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-row ul li {
  margin-bottom: 5px;
}

.footer-credits {
  width: 100%;
  margin-top: 15px;
}
